<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- Console appender with MDC fields -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p [%X{requestId}] [%X{apiTag}] [%X{user}] --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="LOGTAIL_SOURCE_TOKEN" source="logtail.source-token" defaultValue=""/>

    <!-- Logtail Appender - Only define if token is present or ignored, but safer to just define it -->
    <appender name="LOGTAIL" class="com.logtail.logback.LogtailAppender">
        <appName>MyTogether-Notification-Worker</appName>
        <sourceToken>${LOGTAIL_SOURCE_TOKEN}</sourceToken>
        <ingestUrl>https://s2288964.eu-fsn-3.betterstackdata.com</ingestUrl>
        <mdcFields>requestId,userId,deviceId,clientIp,serverId,apiTag,user,username,userEmail,panel</mdcFields>
        <mdcTypes>string,string,string,string,string,string,string,string,string,string</mdcTypes>
    </appender>

    <!-- Default local logging -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGTAIL"/>
    </root>

    <!-- Suppress noisy loggers -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.security.web.FilterChainProxy" level="WARN"/>
    <logger name="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" level="WARN"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    
    <!-- Production logging (Activate Logtail only in prod) -->
    <springProfile name="prod">
        <!-- Separate Console from Logtail -->
        <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p [%X{requestId}] [%X{apiTag}] [%X{user}] --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_WARN"/> <!-- Railway Console gets only WARN+ -->
            <appender-ref ref="LOGTAIL"/>      <!-- BetterStack gets everything at INFO -->
        </root>
    </springProfile>

</configuration>
